<div class ="jumbotron">
	<h1>Team</h1>
<p>
	Our team consists of the esteemed -  
	<ul>
		<li><%= image_tag("sherlock.jpg", :size => "64x64") %> Sherlock Holmes</li> 
		<br>
		<li><%= link_to( image_tag("watson.jpg", :size => "64x64"), "http://mobileforensics.wordpress.com")%> Dr. John Watson</li>
		<br>
		<li><%= link_to( image_tag("mike_harrington.jpg", :size => "64x64"), "http://mobileforensics.wordpress.com") %> Michael Harrington - a small man full of wonder at RoR.</li>
	</ul>
</p>
<div>